*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color:cadetblue;
}
.todo-container{
    background-color: #fff;
    max-width: 350px;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
h1{
    font-size: 40px;   
    color:burlywood;
    text-shadow: 1px 0px 10px rgb(237, 203, 159);
}
.input-container{
    margin-top: 10px;
}
 input[type="text"]{
    width: 80%;
    padding: 10px;
    font-size: 21px;
    outline: 0;
    border: 2px solid cadetblue;
    border-radius: 4px;
    color: burlywood;
}
.fa-solid{
    border-radius: 50%;
    background-color:burlywood;
    margin-left: 5px;
    padding: 8px;
    color:#fff;
    font-size: 18px;
    cursor: pointer;
}
.fa-trash{
    background-color: cadetblue;
    cursor: pointer;
}
ul{
    margin-top: 20px;
    list-style-type: none;
}
ul li{
    border: 1px solid #ccc;
    padding: 8px;
    margin: 6px;
    border-radius: 4px;
    text-align: left;
    font-size: 22px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    color: burlywood;
}
